<!DOCTYPE html>
<html lang="">
    <head>
        <title>Real time streaming</title>
        <script src="https://cdn.plot.ly/plotly-2.6.3.min.js"></script>
    </head>
    <body>
        <div id="graph" style="width:90%;height:250px; margin-top: 300px;">
            <script>
                graph = document.getElementById('graph');
                const ws = new WebSocket('ws://localhost:8000/ws');
                ws.onmessage = function (event) {
                    let measurement = JSON.parse(event.data);
                    Plotly.newPlot(
                        graph,
                        [
                            {
                                y: [measurement.value],
                                x: cnt,
                                type: 'line',
                                line: {color: '#80CAF6'}
                            }
                        ], {
                            margin: { t: 0 } }, {showSendToCloud:true}
                    );
                    let cnt = 0;
                    setInterval(function () {
                        Plotly.extendTraces(graph, {y: [[measurement.value]]}, [0]);
                        cnt++;
                        if (cnt > 1000) {
                            Plotly.relayout(
                                graph,
                                {
                                    xaxis: {
                                        range: [cnt-1000, cnt]
                                    }
                                }
                            );
                        }
                    }, 1000);
                }
            </script>
        </div>
    </body>
</html>